DJANGO_SECRET_KEY = 'kube69qa+sc_p&u(#csbp^@@ej3_*w01$^87#h^3eu@r-+l2$p'

DB_ENGINE = 'django.db.backends.postgresql'
POSTGRES_DB = 'elecshop'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = '5555'
POSTGRES_HOST = 'localhost'
POSTGRES_PORT = '5432'
